@function px2rem_m($px) {
  $rem: 12.0px;
  @return ($px / $rem) + rem;
}

#container {
  .reset-btn, .tip-btn {
    width: px2rem_m(28px);
    height: px2rem_m(28px);
    user-select: none;
    cursor: pointer;
    z-index: 1;
  }

  .reset-btn {
    position: absolute;
    left: 84%;
    top: 90%;
  }

  .tip-btn {
    position: absolute;
    left: 84%;
    top: 85%;
  }

  .back-img {
    width: px2rem_m(232px);
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 41.5%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
  }

  .next-btn {
    width: px2rem_m(72px);
    height: px2rem_m(30px);
    text-align: center;
    line-height: px2rem_m(30px);
    pointer-events: auto;
    font-size: 14px;
    font-weight: 400;
    background: rgba(0, 0, 0, .5);
    color: #FFFFFF;
    border-radius: px2rem_m(36px);
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    top: 71%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
  }

  .tip-txt {
    pointer-events: none;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    letter-spacing: 1px;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
  }

  .close-btn {
    width: px2rem_m(20px);
    height: px2rem_m(20px);
    position: absolute;
    left: 75%;
    top: 26%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }

  .back-img-mask {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6) 86%
    );
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

}